# Excluir archivos de checkpoints de IPython Notebook
.ipynb_checkpoints/

# Excluir archivos CSV y XLSX específicos
ANFIBIOS-peligro-extincion.csv
animales-extincion-por grupo animal.csv
AVES-peligro-extincion.csv
INVERTEBRADOS-peligro-extincion.csv
MAMIFEROS-peligro-extincion.csv
manadas-de-lobos-por-region.csv
REPTILES-peligro-extincion.csv
animales-extincion.xlsx

#excluir imagnes
*.png
*.jpg
*.jpeg
*.gif
*.bmp
*.ico
*.svg